<section id="contact" class="bg-light-blue contact-container padding-nav-top">
    <div class="container full-height contact-box">
        <div class="col-lg-4 col-md-5 text-color-gray text-family-scoredream">
            <div style="padding: 20px; max-width: 400px; margin: 0 auto;">
                <div class="row" style="padding: 10px 0 0 0;">
                    <div class="col-xs-2 text-weight-5" style="padding: 0; height: 95px;">
                        주소
                    </div>
                    <div class="col-xs-10 text-weight-3" style="padding: 0; height: 95px;">
                        <div class="col-sm-12" style="padding: 0;">
                            서울특별시 마포구 백범로1길 3 2층<br>
                        </div>
                        <div class="col-sm-12 text-size-small" style="padding: 10px 0 10px 0; line-height: 1.5;">
                            * 신촌역 6번 출구에서 1분,<br/>
                            &nbsp;&nbsp;'뜸들이다' 건물 2층에 있습니다.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 0 0 20px 0;">
                    <div class="col-xs-2 text-weight-5" style="padding: 0;">
                        전화
                    </div>
                    <div class="col-xs-10 text-weight-3" style="padding: 0;">
                        0507-1479-5670
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 full-height">
            <div id="map" class="map"></div>
            <!-- <code id="snippet" class="snippet"></code> -->
        </div>
    </div>
</section>

