<div class="full-width bg-light-gray text-family-scoredream">
    <div class="container header front-content-top">
        <div class="row text-size-header text-narrow">
            <div class="col-sm-10 col-xs-12">
                <div class="row">
                    <div class="col-sm-7">
                        <span class="text-weight-9 text-color-blue">하나님 나라</span><span class="text-weight-1">와</span><br/>
                        <span class="text-weight-9 text-color-green">세상</span><span class="text-weight-1">을 잇는</span><br/>
                        <img src="/img/logo/logo_name_color.png" class="name-logo-image">
                    </div>
                    <div class="col-sm-4 col-sm-offset-1" style="padding: 0;">
                        <div class="relative-main-logo">
                            <img class="logo" src="/img/logo/logo_big.png"><br/>
                            <div class="shadow circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full bg-white">
        <div class="container" style="padding-top: 80px;">
            <div class="container header-vision" style="padding:0;">
                <div class="col-xs-1 col-xs-offset-1" style="padding-top: 5px;">
                    <div class="bg-darkgray full-height" style="width: 4px; height: 74px; margin: 0 auto;"></div>
                </div>
                <div class="col-xs-9 text-weight-4 text-color-darkgray" style="padding: 0;">
                    이음교회는 '하나님과 세상을 잇는 교회'라는 모토로 이 세상에 다리를 놓아가는 교회를 이루어 가고 있습니다.<br class="wide-enter">
                    하나님의 말씀을 사람들에게 이어주고, 신앙의 삶과 일상의 삶을 이어주고, 사람과 사람을 이어주는 교회를 이루어<br class="wide-enter">
                    이 땅에 하나님의 나라를 세워 나가는 믿음의 공동체입니다.
                </div>
            </div>
            <div class="container">
                <div class="text-size-tiny" style="float: right; padding-top: 50px; padding-bottom: 50px;">
                    <div class="row flex-sm-container">
                        <div class="rounded-button">
                            <div class="bold-content">주일예배</div>
                            <div class="light-content">주일 오전 11시</div>
                        </div>
                        <div class="rounded-button">
                            <div class="bold-content">말씀묵상</div>
                            <div class="light-content" style="right: 30px;">평일 오전 8시</div>
                            <div class="icon-content">
                                <img class="icon" src="/img/icon/icon-youtube.png">
                            </div>
                        </div>
                        <div class="rounded-button">
                            <div class="bold-content">목요기도회</div>
                            <div class="light-content">목요일 오후 9시</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
