<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-flex bg-white">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header bg-white">
            <button type="button" class="navbar-toggle collapsed nav-menu-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="text-weight-4 text-color-gray text-size-tiny"> 메뉴 </span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll align-contents-bottom nav-logo" href="/"><img src="/img/logo/logo_entire_with_body.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: white;">
            <ul class="custom-nav navbar-nav navbar-right nav-item-list">
                <li>
                    <a href="/posts/introduction/2023/09/01/history/">
                        <span class="nav-item">교회 연혁</span>
                    </a>
                </li>
                <li>
                    <a href="/#message">
                        <span class="nav-item">설교</span>
                    </a>
                </li>
                <li>
                    <a href="/#visions">
                        <span class="nav-item">이음 비전</span>
                    </a>
                </li>
                <li>
                    <a href="/#news">
                        <span class="nav-item">사역과 소식</span>
                    </a>
                </li>
                <li>
                    <a href="/list/bulletin/">
                        <span class="nav-item">주보</span>
                    </a>
                </li>
                <li>
                    <a href="/#contact">
                        <span class="nav-item">찾아오시는 길</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
