<section id="visions" class="features middle bg-theme-gradient padding-nav-top">
    <div class="container">
        <div class="text-title padding-nav-bottom" style="padding-top: 30px;">
            비전과 사역
        </div>
        <div class="col-xs-11 flex-md-container vision-container">
            <div class="col-md-6 col-xs-12" style="padding: 0 0 50px 0;">
                <div class="col-xs-6 vision">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="posts/introduction/2023/09/01/visions/">
                                <img class="vision-icon-img" src="/img/logo/logo-vision-1.png">
                            </a>
                        </div>
                        <a href="posts/introduction/2023/09/01/visions/">
                            <div class="title">
                                <font class="bold">하나님</font><font class="light">과</font><br/>
                                <font class="bold">사람</font><font class="light">을</font><br/>
                                <font class="light">이음</font>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 vision">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="posts/introduction/2023/09/01/visions/#2">
                                <img class="vision-icon-img" src="/img/logo/logo-vision-3.png">
                            </a>
                        </div>
                        <a href="posts/introduction/2023/09/01/visions/#2">
                            <div class="title">
                                <font class="bold">교회</font><font class="light">와</font><br/>
                                <font class="bold">우리 삶</font><font class="light">을</font><br/>
                                <font class="light">이음</font>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" style="padding: 0;">
                <div class="col-xs-6 vision">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="posts/introduction/2023/09/01/visions/#3">
                                <img class="vision-icon-img" src="/img/logo/logo-vision-2.png">
                            </a>
                        </div>
                        <a href="posts/introduction/2023/09/01/visions/#3">
                            <div class="title">
                                <font class="bold">사람</font><font class="light">과</font><br/>
                                <font class="bold">사람</font><font class="light">을</font><br/>
                                <font class="light">이음</font>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 vision">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="posts/introduction/2023/09/01/visions/#4">
                                <img class="vision-icon-img" src="/img/logo/logo-vision-4.png">
                            </a>
                        </div>
                        <a href="posts/introduction/2023/09/01/visions/#4">
                            <div class="title">
                                <font class="bold">교회</font><font class="light">와</font><br/>
                                <font class="bold">세상</font><font class="light">을</font><br/>
                                <font class="light">이음</font>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
