---
layout: post
title: "아침 말씀 묵상"
---

{% for post in site.categories.qt limit:20 %}

    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    
    {% if forloop.first %}

    <h2 id="{{ this_year }}-ref" style="padding-bottom: 20px;">{{ this_year }}</h2>
    {% capture latest_youtube %}{{ post.youtube }}{% endcapture %}

    {% endif %}

    <div class="text-color-gray text-weight-3" style="padding: 0 0 5px 0;">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="row">
                <div class="col-xs-9 text-size-middle text-color-darkgray">
                    {{ post.title }}
                </div>
                <div class="col-xs-3 text-weight-2 text-align-right" style="padding-left: 0; padding-right: 8px;">
                    {{ post.date | date: "%m-%d" }}
                    {% capture day %}{{ post.date | date: "%w" }}{% endcapture %}
                    {% case day %}
                        {% when "1" %} 월
                        {% when "2" %} 화
                        {% when "3" %} 수
                        {% when "4" %} 목
                        {% when "5" %} 금
                    {% endcase %}
                </div>
            </div>
        </a>
    </div>

    {% if forloop.last %}
    {% else %}

        {% if this_year != next_year %}

    <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
    
        {% endif %}

    {% endif %}

{% endfor %}

<div class="go-youtube">
    <div class="middle">
        <a href="https://www.youtube.com/watch?v={{ latest_youtube }}&list=PLzCVCPy03Qq2itb1HzvL5CV-TwTCRfFRA&pp=iAQB" target="_blank">
            <div class="box">
                <img src="/img/icon/youtube.png">
                <div class="text-size-small text-color-darkgray text-weight-4">에서 더 보기</div>
            </div>
        </a>
    </div>
</div>
