<!DOCTYPE html>
<html lang="ko">

<head>
  {% include head.html %}

  <!-- og thumbnail -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://2eumchurch.org">
  <meta property="og:title" content="하나님나라와 세상을 잇는 이음교회">
  <meta property="og:image" content="https://2eumchurch.org/img/logo/logo_simple_with_body.png">
  <meta property="og:description" content="대한예수교장로회">
</head>

<body id="top">
  {% include nav-main.html %}
  {% include header.html %}
  {% include bodyinfo.html %}
  {% include message.html %}
  {% include visions.html %}
  {% include news.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
